<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">


<main layout:fragment="content">
    <h1 th:test="${pageTitle}"></h1>
    <form name="frmStep" th:action="@{/survey/diabetes/step2}" method="post" th:objdect="${requestDiabetesSurvey}">
        <div class="error global" th:each="err: ${#fields.globalErrors}" ></div>
        <dl>
            <dt th:text="#{성별}"></dt>
            <dd>
                <span th:each="gen: ${genders}">
                    <input type="radio" name="gender" th:value="${gen.name()}" th:field="*{gender}" th:id="${'gender-' + gen.name}">
                    <label th:for="${'gender-' + gen.name}" th:text="#{messge.msg(gen.name(}"></label>
                </span>
                <div class="error" th:each="err :${#fields.errors('gender'}" th:text="${err}"></div>
            </dd>
        </dl>
        <dl>
            <dt th:text="#{나이}"></dt>
                <dd>
                    <input type="number" name="age" th:field="*{age}" min="10" max="130">
                    <div class="error" th:each="err :${#fields.errors('age'}" th:text="${err}"></div>
                </dd>
        </dl>
        <dl>
            <dt th:text="#{고혈압 여부}"></dt>
            <dd>
                <span>
                    <input type="radio" name="hypertension" value="true" th:field="*{hypertension}" id="hypertension-true">
                    <label for="hypertension-true" th:text="#{있음}"></label>
                </span>
                <span>
                    <input type="radio" name="hypertension" value="true" th:field="*{hypertension}" id="hypertension-false">
                    <label for="hypertension-false" th:text="#{없음}"></label>
                </span>
                <div class="error" th:each="err :${#fields.errors('hypertension'}" th:text="${err}"></div>
            </dd>
        </dl>
        <dl>
            <dt th:text="#{심장 질환 여부}"></dt>
            <dd>
                <span>
                    <input type="radio" name="hearDisease" value="true" th:field="*{hearDisease}" id="hearDisease-true">
                    <label for="hearDisease-true" th:text="#{있음}"></label>
                </span>
                <span>
                    <input type="radio" name="hearDisease" value="true" th:field="*{hearDisease}" id="hearDisease-false">
                    <label for="hearDisease-false" th:text="#{없음}"></label>
                </span>
                <div class="error" th:each="err :${#fields.errors('hearDisease'}" th:text="${err}"></div>
            </dd>
        </dl>
        <dl>
            <dt th:text="#{흡연 여부}"></dt>
                <dd>
                    <span th:each="item : ${#somkingHistories}" th:if="${item.name() !='NO_INFO'}">
                        <input type="radio" name="smokingHistory" th:value="${item.name()}" th:field="*{smokingHistory}" th:id="${'smokingHistory-'+ item.name()}">
                         <label th:for="${'smokingHistory-'+ item.name()}" th:text="${#messgae.msg(item.name()}"></label>
                    </span>
                    <div class="error" th:each="err :${#fields.errors('smokingHistory'}" th:text="${err}"></div>
                </dd>
        </dl>
        <button type="submit" th:text="#{다음 페이지}"></button>
    </form>
</main>
</html>